@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #2e7a4f;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  
  /*Navbar*/
  #mySidenav a {
    font-family: Hack, monospace; /*font style*/
    position: absolute; /* Position them relative to the browser window */
    left: -145px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 150px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    display: flex;
    text-align: left;
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #nav1 {
    top: 20px;
    background-color: #04AA6D; /* Green */
  }
  
  #nav2 {
    top: 80px;
    background-color: #2196F3; /* Blue */
  }
  
  #nav3 {
    top: 140px;
    background-color: #f44336; /* Red */
  }

  #nav4 {
    top: 200px;
    background-color: #ffa500; /* Yelloe */
  }

  #nav5 {
    top: 260px;
    background-color: #555; 
  }

  #nav6 {
    top: 320px;
    background-color: rgb(163, 14, 163);
  }

  #nav7 {
    top: 380px;
    background-color: #010770;
  }
  